<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <title>Mon BnB - {% block title %}Bienvenue !{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css?family=Tomorrow:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/dbc1e24743.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "admin/partials/header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "admin/partials/footer.html.twig" %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
