<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Open Graph -->
        <meta property="og:site_name" content="Bienvenue sur Mon BnB !">
        <meta property="og:url" content="https://mon-bnb.herokuapp.com/">
        <meta property="og:title" content="Bienvenue sur Mon BnB !" name="title">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://mon-bnb.herokuapp.com/ressources/monbnb.jpg" name="image">
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1921" />
        <meta property="og:image:height" content="1263" />
        <meta property="og:description" content="Site de BnB réalisé dans le cadre d'une formation en ligne sur Symfony 4." name="description">
        <meta name="author" content="Baptiste Bidaux">
        
        <title>Mon BnB - {% block title %}Bienvenue !{% endblock %}</title>
        
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Tomorrow:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/dbc1e24743.js" crossorigin="anonymous"></script>
        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "partials/header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "partials/footer.html.twig" %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
